# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Python build artifacts
build/
dist/
*.egg-info/
node_modules/
